# Django
django
djangorestframework

# Database
psycopg2-binary

# Environment variables
python-decouple

# Telegram Bot
python-telegram-bot==22.5

# AI & LangChain
langchain==0.2.11
langgraph
langchain-openai
httpx
langchain-community==0.2.10
langchain-core>=0.2.23
langsmith
# Caching & Background Tasks
redis
celery<6
django-redis

# HTTP Requests
requests

# Telegram Channel Harvester
telethon

# Metrics & Monitoring
prometheus-client
